#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; z-index:9998; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none; top: 0; right: 0;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:300px; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{ background: #000;}
#colorbox{outline:0;}
    #cboxContent{}
        .cboxIframe{}
        #cboxError{}
        #cboxLoadedContent{}
        #cboxTitle{position:absolute; top:-20px; left:0;}
        #cboxCurrent{position:absolute; top:-20px; right:0px;}
        #cboxLoadingGraphic { 
            background:url(../images/ui/loading.gif) no-repeat center center;
            background-size: 32px 32px;
        }


        #cboxClose, .modal-cancel-icon {
            position:absolute; 
            top:24px; 
            right:24px; 
            display:block; 
            background:url(../images/ui/close-icon.png) no-repeat;
            background-size: 16px 16px;
            width:16px;
            height:16px;
            text-indent:-9999px;
            border: 0;
        }

#colorbox, #cboxOverlay {
    top:0 !important; right:0 !important;
}

#colorbox {
    left: auto !important;
    background: #fff;
}

#colorbox, #cboxWrapper, #cboxContent, #cboxLoadedContent {
    width: 460px !important;
    height: 100% !important;
    min-height: 100% !important;
    background: #fff;
}

@media screen and (max-width:480px) { 
    #colorbox, #cboxWrapper, #cboxContent, #cboxLoadedContent {
        width: 100% !important;
    }
}

@media screen and (min-height:600px) { 
    #colorbox {
        position: fixed !important;
    }
}